.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(107, 2, 255) 0%,
    rgb(251, 255, 24) 100%
  );
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
.navbar-right img {
  height: 50px;
}
.navbar-left {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.navbar input {
  margin-left: 10px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: medium;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
}

@media screen and (max-width: 750px) {
  .navbar {
    width: 110%;
  }
  .hamburger-menu {
    margin-left: 10px;
  }
  .navbar-left {
    margin-left: 0;
  }
  .navbar input {
    margin-left: 5px;
    font-size: medium;
  }
}
