.random-cat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.cat-button {
  align-items: center;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
}

.cat-image img {
  margin-top: 30px;
  border-radius: 20px;
  height: 300px;
}
@media screen and (max-width: 750px) {
  .random-cat {
    width: 100%;
  }
  .cat-image img {
    height: 180px;
  }
}
